*{
	margin: 0;
	padding: 0;
}
/*头部*/
#header{
	width: 100%;
	height: auto;
	border-bottom: 2px solid darkred;
}
/*头部的顶部*/
.header_top{
	width: 100%;
	height: 90px;
	background: url(../img/header.jpg) no-repeat center center;
}
/*头部中间小导航*/
.header_content{
	width: 100%;
	height: 30px;
	background: #ccc;
	position: relative;
}
.img1,.img2{
	position: absolute;
	top: 40px;
	width: 150px;
	height: 150px;
	display: none;
	z-index: 3;
}
.img1{
	right: 70px;
}
.img2{
	right: 30px;
}
.h_c_nav{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.h_c_n_left{
	width: 320px;
	height: 30px;
	float: left;
	background: url(../img/icon_index_01.jpg) no-repeat center left;
}
.h_c_n_left ul,.h_c_n_right ul{
	list-style-type: none;
}
.h_c_n_left ul li,.h_c_n_right ul li{
	float: left;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	padding-left: 20px;
}
.h_c_n_left ul li a,.h_c_n_right ul li a{
	color: #666;
	text-decoration: none;
}
.h_c_n_left ul li a:hover,.h_c_n_right ul li a:hover{
	color: darkred;
}
.h_c_n_right{
	float: right;
	width: 600px;
	height: 30px;
}
.h_c_n_right ul li{
	padding-left: 25px;
	
}
.h_c_n_right ul li img{
	width: 30px;
	height: 30px;
}
/*头部的底部*/
.header_bottom{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}
/*头部的底部的上半部分*/
.h_b_top{
	width: 100%;
	height: 100px;
	position: relative;
}
.h_b_t_left{
	width: 360px;
	height: 100px;
	float: left;
}
.h_b_t_left img{
	margin-top: 25px;
}
.h_b_t_content{
	width: 530px;
	height: 100px;
	float: left;
	position: relative;
	margin-left: 40px;
}
.h_b_t_content .text{
	width: 426px;
	height: 30px;
	margin-top: 35px;
	border: 2px solid darkred;
}
.h_b_t_content .btn{
	width: 78px;
	height: 34px;
	background: darkred;
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: 426px;
	top: 35px;
	border: none;
}
.h_b_t_content ul li{
	margin-top: 10px;
	float: left;
	list-style-type: none;
	color: #999;
	font-size: 12px;
	margin-right: 15px;
}
.h_b_t_content ul li a{
	color: #999;
	text-decoration: none;
}
.h_b_t_content ul li a:hover{
	color: darkred;
}
/*购物车*/
.h_b_t_right{
	width: 142px;
	line-height: 36px;
	float: right;
	color: #666;
	border: 1px solid #ccc;
	margin-top: 34px;
	text-align: center;
	position: relative;
	font-size: 12px;
	background: white;
}
.h_b_t_right img{
	position: absolute;
	top: 10px;
	left: 20px;
}
.h_b_t_right .num{
	width: 20px;
	line-height: 15px;
	background: darkred;
	color: white;
	font-size: 14px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 20px;
	font-weight: bold;
}
.number{
	width: 280px;
	line-height: 64px;
	font-size: 12px;
	border: 1px solid #ccc;
	position: absolute;
	right: 0;
	top: 76px;
	color: #ccc;
	text-align: right;
	font-weight: bold;
	background: white;
	display: none;
}
.number img{
	position: absolute;
	top: 16px;
	left: 30px;
}
.h_b_t_right:hover{
	height: 42px;
	border: 2px solid #ccc;
	border-bottom: none;
	cursor: pointer;
	z-index: 1;
}
/*头部底部的下半部分*/
.h_b_bottom{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}
/*头部底部的下半部分的商城下拉菜单*/
.h_b_b_title{
	width: 200px;
	height: auto;
	float: left;
	display: block;
}
.h_b_b_title h4{
	width: 200px;
	line-height: 42px;
	background: darkred;
	color: white;
	text-align: center;
	font-size: 14px;
}
.h_b_b_t_nav{
	width: 200px;
	height: 360px;
	background: #222;
	position: absolute;
	z-index: 1;
}
.h_b_b_t_nav div{
	width: 200px;
	height: 60px;
}
.h_b_b_t_nav .h_b_b_t_nav_div{
	width: 200px;
	height: 60px;
}
.h_b_b_t_nav div i{
	width: 20px;
	height: 59px;
	position: absolute;
	left: 20px;
	z-index: 1;
	background: url(../img/icon_index.png) left -142px;
}
.h_b_b_t_nav div .i1{
	background: url(../img/icon_index.png) -80px -142px;
}
.h_b_b_t_nav div .i2{
	background: url(../img/icon_index.png) -160px -142px;
}
.h_b_b_t_nav div .i3{
	background: url(../img/icon_index.png) -240px -142px;
}
.h_b_b_t_nav div .i4{
	background: url(../img/icon_index.png) -320px -142px;
}
.h_b_b_t_nav div .i5{
	background: url(../img/icon_index.png) -400px -142px;
}
.h_b_b_t_nav div h3{
	width: 140px;
	line-height: 59px;
	padding-left: 40px;
	border-bottom: 1px dashed #666;
	margin:  0 auto;
}
.h_b_b_t_nav div:last-child h3{
	border-bottom:none;
}
.h_b_b_t_nav div h3 a{
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
}
.h_b_b_t_nav div .triangle{
	width:0;          
	height:0;            
	border-width:5px 10px;            
	border-style:solid;            
	border-color:transparent transparent transparent darkred;
	position: absolute;
	left: 200px;
	display: none;
	z-index: 1;
}
.h_b_b_t_nav .banner_content{
	width: 780px;
	height: 360px;
	background: white;
	display: none;
	left: 200px;
	top: 0;
	position: absolute;
}
.h_b_b_t_nav .b_c_left{
	width: 540px;
	height: 360px;
	float: left;
	margin-left: 20px;
}
.h_b_b_t_nav .b_c_left div{
	width: 540px;
	height: 120px;
}
.h_b_b_t_nav .banner_content .b_c_left h3{
	width: 540px;
	line-height: 48px;
	font-size: 14px;
	color: #444;
	padding-left: 0px;
	border-bottom: 2px solid #444;
}
.h_b_b_t_nav .b_c_left ul{
	list-style-type: none;
	width: 540px;
	height: 70px;
}
.h_b_b_t_nav .b_c_left ul li{
	float: left;
	width: 90px;
	height: 24px;
	margin-top: 10px;
}
.h_b_b_t_nav .b_c_left ul li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
}
.h_b_b_t_nav .b_c_left ul li a:hover{
	color: darkred;
}
.b_c_right{
	width: 200px;
	height: 360px;
	float: right;
}
.b_c_right h3{
	line-height: 48px;
	font-size: 14px;
	color: #444;
}
/*头部底部的下半部分的导航*/
.h_b_b_nav{
	float: left;
	width: 890px;
	height: 40px;
	position: relative;
}
.h_b_b_nav ul{
	list-style-type: none;
	width: 890px;
	height: 40px;
}
.h_b_b_nav ul li{
	float: left;
	line-height: 40px;
	text-align: center;
	margin:  0 20px;
}
.h_b_b_nav img
{
	position: absolute;
	right: 12px;
	top: -6px;
}
.h_b_b_nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #444;
}
.h_b_b_nav ul li a:hover{
	color: red;
}
/*尾部*/
#footer{
	width: 100%;
	height: auto;	
}
/*尾部的顶部*/
.footer_top{
	width: 100%;
	height: 180px;
	background: #CCCCCC;
}
/*尾部顶部的导航*/
.footer_t_nav{
	width: 1200px;
	height: 180px;
	margin: 0 auto;
	margin-top: 40px;
}
.footer_t_nav div{
	width: 200px;
	height: 180px;
	text-align: center;
	float: left;
}
.footer_t_nav div img{
	margin-top: 30px;
}
.footer_t_nav div h4{
	margin-top: 15px;
	color: #444;
}
.footer_t_nav div p{
	margin-top: 10px;
	color: #666;
	font-size: 13px;
}
/*尾部中间部分*/
.footer_content{
	width: 1200px;
	height: 200px;
	margin: 0 auto;
}
.footer_c_nav{
	width: 900px;
	height: 140px;
	border-right: 1px solid #ccd;
	margin-top: 20px;
	float: left;
}
.footer_c_nav ul{
	width: 180px;
	height: 140px;
	list-style-type: none;
	float: left;
}
.footer_c_nav ul li{
	margin-top: 10px;
	font-weight: bold;
	color: #444;
	font-size: 14px;
}
.footer_c_nav ul li a{
	font-weight: normal;
	color: #999;
	text-decoration: none;
	font-size: 12px;
}
.footer_c_nav ul li a:hover{
	color: darkred;
}
.footer_c_QrCode{
	width: 298px;
	height: 140px;
	float: left;
	margin-top: 20px;
}
.footer_c_QrCode div{
	width: 120px;
	height: 140px;
	float: left;
	margin-left: 20px;
	text-align: center;
}
.footer_c_QrCode div h3{
	font-size: 14px;
	color: #444;
	margin:10px 0;
}
.footer_c_QrCode div p{
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}
/*尾部的底部*/
.footer_bottom{
	width: 100%;
	height: 210px;
}
.f_b_top{
	width: 100%;
	height: 40px;
	background: #444;
}
.f_b_t_nav{
	width: 600px;
	height: 40px;
	margin: 0 auto;
}
.f_b_t_nav ul li{
	list-style-type: none;
	float: left;
	line-height: 16px;
	text-align: center;
	width: 84px;
	margin-top: 12px;
	border-right: 1px white solid;
}
.f_b_t_nav ul li:last-child{
	border: none;
}
.f_b_t_nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.f_b_bottom{
	width: 1070px;
	height: 150px;
	margin: 0 auto;
	padding-top: 20px;
}
.f_b_bottom p{
	text-align: center;
	color: #666;
	font-size: 12px;
}
.f_b_bottom .p1{
	margin: 40px 0px 20px 0px;
}
.f_b_b_link{
	width: 700px;
	height: 60px;
	margin:  0 auto;
	position: relative;
}
.f_b_b_link a{
	font-size: 0px;
	line-height: 0;
	display: inline-block;
}
.f_b_b_link .font{
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 12px;
	position: absolute;
	top: 22px;
	right: 10px;
}
.f_b_b_link .font:hover{
	color: darkred;
}









