
/* 头部轮播图部分*/
#topSwiper {
    height: 360px;
    width: 1920px;
    overflow: hidden;
}

#topSwiper .swiper-wrapper{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-wrapper a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#topSwiper img{
    width: 100%;
    height: 100%;
}
#topSwiper .swiper-pagination{
    bottom: 0;
}